{% extends "programmes.html" %}
{% block content %}

    	<div class="row">
            <div class="text-center">
                <h2>Les faces cachées de l'allemande</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span8">
                Passacaille d'Armide
            </div>
            <div class="span4">
                <div class="text-right">
                Jean-Henri D'Anglebert<br>
                (1629-1691)
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span8">
                Suite no. 20 in D
            </div>
            <div class="span4">
                <div class="text-right">
                Johann Jakob Froberger
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span1">
            </div>
            <div class="span7">
                Allemande “Meditation, faite sur ma Mort future laquelle se joue lentement avec discretion”<br>
                Courante<br>
                Sarabande<br>
                Gigue
            </div>
            <div class="span4">
                <div class="text-right">
                    (1616-1667)
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span8">
                “Suite in a” from Nouvelles Suites de pièces de clavecin
            </div>
            <div class="span4">
                <div class="text-right">
                Jean Philippe Rameau
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span1">
            </div>
            <div class="span7">
                Prélude de M. Edwards<br>
                Allemande<br>
                Courante <br>
                Sarabande<br>
                Les trois Mains<br>
                La Triomphante<br>
                Fanfarinette<br>
                Gavotte

            </div>
            <div class="span4">
                <div class="text-right">
                    (1683-1764)
                </div>
            </div>
        </div>
        <div class="text-center">
            Interval
        </div>
        <br>
        <div class="row">
            <div class="span8">
                Partita no. 4 in D, BWV 828
            </div>
            <div class="span4">
                <div class="text-right">
                J.S. Bach
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span1">
            </div>
            <div class="span7">
                Overture<br>
                Allemande<br>
                Courante<br>
                Aria<br>
                Sarabande<br>
                Menuet<br>
                Gigue
            </div>
            <div class="span4">
                <div class="text-right">
                    (1685-1750)
                </div>
            </div>
        </div>

                
                
{% endblock %}