{% extends "base.html" %}
{% block content %}

    	<div class="row">
    		<div class="span12">
    			<img class="img-circle" data-src="holder.js/140x140">
    			<h2 class="text-center">
    			
    			</h2>
    			<hr>
    			<p class="text-center">
    				Please direct all inquiries directly to:
                    <script type="text/javascript">  
                        email = ('medwards3@' + 'gmail.com')
                        document.write('<a href="mailto:' + email + '">' + email + '</a>')
                    </script>

    			</p>
    			
    		</div>
    	</div>
{% endblock %}