{% extends "base.html" %}
{% block navDiscography %}class="active"{% endblock %}
{% block carouselMark %}class="item"{% endblock %}
{% block carouselBach %}class="item active"{% endblock %}

{% block content %}
<hr>
    	<div class="row">
                <div class="span4">
                    <div class="text-left">
                        <a href="http://www.atmaclassique.com/Fr/Albums/AlbumInfo.aspx?AlbumID=1488"><img src="{{STATIC_URL}}img/Passaggi_small.jpg"></a>
                    </div>
                </div>
                <div class="span8">
                     <div class="text-left">
                        <p class="lead">
                            <br>
                            <a href="http://www.atmaclassique.com/Fr/Albums/AlbumInfo.aspx?AlbumID=1488"><h3><em>Passaggi</em></h3><br></a>
                            Vincent Lauzer (recorder), Mark Edwards (harpsichord, organ)<br>
                            Works by Bassano, Berardi, Castello, Frescobaldi, Mealli, Notari, Schmelzer, and Rogniono.<br>
                            ATMA Classique ACD22637, 24 September 2013
                        </p>
                    </div>
                </div>
                
                
    	</div>
{% endblock %}