{% extends "programmes.html" %}

{% block content %}

    	<div class="row">
            <div class="text-center">
                <h2>The Goldberg Variations</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span8">
                The Goldberg Variations, BWV 988
            </div>
            <div class="span4">
                <div class="text-right">
                J.S. Bach<br>
                (1685-1750)
                </div>
        </div>
        <hr>
        <div class="row">
                <div class="span1">
                </div>
                <div class="span11">
                        Prelude<br>
                        Aria<br>
                        Variatio 1. a 1 Clav.<br>
                        Variatio 2. a 1 Clav.<br>
                        Variatio 3. Canone all’Unisono. a 1 Clav.<br>
                        Variatio 4. a 1 Clav.<br>
                        Variatio 5. a 1 overo 2 Clav.<br>
                        Variatio 6. Canone alla Secunda. a 1 Clav.<br>
                        Variatio 7. a 1 overo 2 Clav. al tempo di Giga.<br>
                        Variatio 8. a 2 Clav.<br>
                        Variatio 9. Canone alla Terza. a 1 Clav.<br>
                        Variatio 10. Fughetta. a 1 Clav.<br>
                        Variatio 11. a 2 Clav.<br>
                        Variatio 12. Canone alla Quarta<br>
                        Variatio 13. a 2 Clav.<br>
                        Variatio 14. a 2 Clav.<br>
                        Variatio 15. Canone alla Quinta. a 1 Clav.: Andante<br>
                        Variatio 16. Ouverture. a 1 Clav.<br>
                        Variatio 17. a 2 Clav.<br>
                        Variatio 18. Canone alla Sesta. a 1 Clav.<br>
                        Variatio 19. a 1 Clav.<br>
                        Variatio 20. a 2 Clav.<br>
                        Variatio 21. Canone alla Settima.<br>
                        Variatio 22. a 1 Clav. alla breve<br>
                        Variatio 23. a 2 Clav.<br>
                        Variatio 24. Canone all’Ottava. a 1 Clav.<br>
                        Variatio 25. a 2 Clav. adagio<br>
                        Variatio 26. a 2 Clav.<br>
                        Variatio 27. Canone alla Nona. a 2 Clav.<br>
                        Variatio 28. a 2 Clav.<br>
                        Variatio 29. a 1 overo 2 Clav.<br>
                        Variatio 30. a 1 Clav. Quodlibet<br>
                        Aria da capo
                </div>
        </div>
{% endblock %}