{% extends "base.html" %}
{% block navLinks %}class="active"{% endblock %}
{% block carouselMark %}class="item"{% endblock %}
{% block carouselBach %}class="item active"{% endblock %}
{% block content %}

    	<div class="row">
    		<div class="span12">
                <p class="lead">
                    Musicians
                </p>
                <hr>
    			<ul class="unstyled">
                    <li><a href="http://www.robert-hill-live.blogspot.de/">Robert Hill</a></li>
                    <li><a href="http://www.vincentlauzer.com/">Vincent Lauzer</a></li>
                    <li><a href="http://esteligomez.wix.com/2012">Estelí Gomez</a></li>
                    <li><a href="http://www.skipsempe.com/">Skip Sempé</a></li>
                    <li><a href="http://lucbeausejour.com/">Luc Beauséjour</a></li>
                </ul>
                <br>
                <p class="lead">
                    Ensembles
                </p>
                <hr>
                <ul class="unstyled">
                    <li><a href="http://www.ensemble1729.com/">Ensemble 1729</a></li>
                    <li><a href="http://www.flutealors.com/">Flûtes Alors!</a></li>
                </ul>
                <br>
                <p class="lead">
                    Festivals & Concert Series
                </p>
                <hr>
                <ul class="unstyled">
                    <li><a href="http://www.mafestival.be/">Musica Antiqua Festival Bruges</a></li>
                    <li><a href="http://www.bemf.org/">Boston Early Music Festival</a></li>
                    <li><a href="http://www.montrealbaroque.com/">Festival Montréal Baroque</a></li>
                    <li><a href="http://www.indianriverfestival.com/">The Indian River Festival</a></li>
                    <li><a href="http://www.musiqueroyale.com/">Musique Royale Festival</a></li>
                    <li><a href="http://www.boxwood.org/">Boxwood Festival</a></li>
                    <li><a href="http://lucbeausejour.com/cec/">Clavecin en concert</a></li>
                    <li><a href="http://www.oudemuziek.nl/home/">Utrecht Early Music Festival</a></li>
                    <li><a href="http://www.piccolaaccademia.org/">Piccola Accademia di Montisi</a><li>

                </ul>
                <br>
                <p class="lead">
                    Instrument Makers
                </p>
                <hr>
                <ul class="unstyled">
                    <li><a href="http://keithhillharpsichords.com/">Keith Hill</a></li>
                    <li><a href="http://www.jankalsbeek.nl/">Jan Kalsbeek</a></li>
                    <li><a href="http://www.kennedyharpsichords.com/">Bruce Kennedy</a></li>
                    <li><a href="http://www.clavecinsbeaupre.com/">Yves Beaupré</a><li>
                    
                </ul>
    			
    		</div>
    	</div>
     
{% endblock %}