{% extends "base.html" %}
{% block navSchedule %}class="active"{% endblock %}
{% block carouselMark %}class="item active"{% endblock %}
{% block carouselBach %}class="item"{% endblock %}
{% block content %}

    <ul class="nav nav-pills">
        <li>
            <a href="{% url 'schedule' %}">Upcoming Events</a>
        </li>
        <li class="active">
            <a href="{% url 'past_schedule' %}">Past events</a>
        </li>
    </ul>
    	<div class="row">
            {% for event in events %}
    		<div class="span12">
    			<img class="img-circle" data-src="holder.js/140x140">
    			<h2 class="text-left">
    				{{event.title}}
    			</h2>
                <p>
                    <span>{{ event.time }}</span> <span class="pull-right">{{event.where}}</span>
                </p>
    			<hr>
    			<p>
    				{{ event.description|safe }}
    			</p>
    		</div>
            {% endfor %}
    	</div>
{% endblock %}