{% extends "base.html" %}
{% block navPress %}class="active"{% endblock %}
{% block carouselMark %}class="item active"{% endblock %}
{% block carouselBach %}class="item"{% endblock %}
{% block content %}

    	<div class="row">
    		<div class="span12">
    			<hr>
    			<p>
    				<em>"Sweelinck démarre dans cette sorte d’errance chère à certains, faite de ruptures et de suspensions apparemment arbitraires mais bientôt justifiées : Mark Edwards entraîne l’écoute dans des régions inédites et fantasques, utilisant toutes les ressources de son instrument (lequel connut pourtant des problèmes de justesse), de sa virtuosité et de son imagination, avec la marque - dans l’ampleur du jeu - de l’organiste qu’il est aussi. Bach sera plus édifiant encore, bénéficiant d’un excellent choix d’instrument et mené avec une autorité souveraine. Ovation."</em>
    			</p>
    			<p>
    				Mergeay, M. <a href="http://www.lalibre.be/culture/divers/article/754630/revolution-au-concours-de-bruges.html">"Révolution au concours de Bruges,"</a><em>La Libre Belgique</em>, 11 August, 2012
    			</p>
    		</div>
    	</div>
        <div class="row">
            <div class="span12">
                <hr>
                <p>
                    <em>"Tuesday afternoon at First Lutheran Church, the 25-year-old Canadian harpsichordist Mark Edwards presented a program that traced the evolution of Bach's music from youth to maturity. [...] Edwards handled Bach's lavish flourishes and showy runs with confidence, though he downplayed the rhythmic aspects for a more even-handed approach. He especially dazzled with his own florid transcription of the famous chaconne from the D-minor violin partita."</em>
                </p>
                <p>
                    Longaker, M. <a href="http://earlymusic.org/publications/ema-magazine/vol-19-no-3-fall-2013">"Rising Stars in Boston,"</a><em>Early Music America</em>, Fall 2013 Issue (Volume 19, Number 3)
                </p>
            </div>
        </div>
{% endblock %}