{% extends "programmes.html" %}
{% block content %}

    	<div class="row">
            <div class="text-center">
                <h2>The Battle of the Titans</h2>
            </div>
        </div>
        <hr>
        
        <div class="row">
            <div class="span8">
                Pièces de clavecin, Book I in d
            </div>
            <div class="span4">
                <div class="text-right">
                    Louis Marchand
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span1">
            </div>
            <div class="span7">
                Prélude<br>
                Allemande<br>
                Courante I and II<br>
                Sarabande<br>
                Gavotte en rondeau<br>
                Menuet<br>
                Gigue<br>
                Chaconne
            </div>
            <div class="span4">
                <div class="text-right">
                    (1669-1732)
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span8">
                English Suite no. 4 in F, BWV 809
            </div>
            <div class="span4">
                <div class="text-right">
                J.S. Bach
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span1">
            </div>
            <div class="span7">
                Prélude<br> 
                Allemande<br>
                Courante<br>
                Sarabande<br>
                Minuet I and II<br>
                Gigue
            </div>
            <div class="span4">
                <div class="text-right">
                    (1685-1750)
                </div>
            </div>
        </div>
        <br>
        <div class="text-center">
            Interval
        </div>
        <br>
        <div class="row">
            <div class="span8">
                Suite in Bb, HWV 434
            </div>
            <div class="span4">
                <div class="text-right">
                George Frideric Handel
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span1">
            </div>
            <div class="span7">
                Prelude<br>
                Allegro<br>
                Air and Variations
            </div>
            <div class="span4">
                <div class="text-right">
                    (1685-1759)
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span8">
                Capriccio in G, K. 63
            </div>
            <div class="span4">
                <div class="text-right">
                Domenico Scarlatti<br>
                (1685-1757)
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span8">
                Sonata in D, K.96<br>
                Sonata in D, K. 492<br>
                Sonata in d, K32<br>
                Sonata in D, K. 490<br>

            </div>
            <div class="span4">
                <div class="text-right">
                Scarlatti
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="span8">
                Chaconne, HWV 435
            </div>
            <div class="span4">
                <div class="text-right">
                Handel
                </div>
            </div>
        </div>
        

        
        

                
                
{% endblock %}